<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeepSkin API</title>
</head>
<body>
    <h1>Welcome to DeepSkin API</h1>
	<form action="/predict" method="POST" enctype="multipart/form-data">
		<label for="image">Upload your skin image:</label>
		<input type="file" name="image" accept="image/*" required>
	
		<!-- Metadata inputs -->
		<label for="age">Age:</label>
		<input type="number" name="age" required>
	
		<label for="sex">Sex:</label>
		<select name="sex" required>
			<option value="male">Male</option>
			<option value="female">Female</option>
		</select>
	
		<label for="localization">Localization:</label>
		<input type="text" name="localization" required>
	
		<button type="submit">Submit</button>
	</form>	
</body>
</html>
